#body {
    background-color: rgb(160 255 164);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
.eyes {
    position: relative;
    display: flex;
    top: 30px;
}
.eye {
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 65px;
    height: 80px;
    margin: 18px;
}
.pupils {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 55px;
    height: 65px;
    top: 15px;
    left: 4px;
}