*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #9eb5f6;
}
.container{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid white;
}
.bubble{
    width: 360px;
    height: 360px;
    background: #a9bffb;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.bubble:before, .bubble:after{
    content: '';
    width: 120px;
    height: 120px;
    background: inherit;
    border-radius: inherit;			
    position: inherit;
}
.bubble:before{
    right: -40px;
    top: 20px;
}
.bubble:after{
    bottom: -30px;
    left: 40px;
    transform: scale(1.4);
}
.bubbles{
    width: 40px;
    height: 40px;
    background: #a9bffb;
    border-radius: 50%;
    position: absolute;
    right: 170px;
    top: 80px;
}
.bubbles:before, .bubbles:after{
    content: '';
    width: inherit;
    height: inherit;
    background: inherit;
    border-radius: inherit;
    position: inherit;
}
.bubbles:before{
    left: -330px;
    bottom: -320px;
    transform: scale(1.5);
}
.bubbles:after{
    left: -85px;
    bottom: -410px;
    transform: scale(.8);
}
.dog{
    width: 220px;
    height: 90px;
    background: #fee7af;
    border-radius: 60px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
    z-index: 1;
    overflow: hidden;
}
.head{
    width: 170px;
    height: 120px;
    background: #fee7af;
    border-radius: 70px 70px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    margin: auto;
    overflow: hidden;
}
/*patch*/
.dog:after, .head:after{
    content: '';
    width: 110px;
    height: 130px;
    border-radius: 50%;
    background: #fecf94;
    position: absolute;
}
.dog:after{
    left: 0;
    bottom: 55px;
}
.head:after{
    left: -25px;
    bottom: -30px;
}