*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #9eb5f6;
}
.container{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid white;
}